{% include config/setup %}{% include config/data %}
/*** CANCEL ***/
h1, h2, h3, h4, h5, h6,
p, span,
a, input, label { font-size: 1.1em; }

p, p * { line-height: 1.5em; }

body {
//	font-size: 13px;
}
/*** END CANCEL ***/

/*** INDEXES ***/
.u-word-bar:before { position: relative; z-index: -10; }
.u-word-bar,
.l-matrix-code-back { position: relative; z-index: 10; }
.d-matrix-content { position: relative; z-index: 20; }
.header-main-banner-title { position: relative; z-index: 30; }
.l-matrix-code-front { position: relative; z-index: 40; }
/*** END INDEXES ***/

/*** COLORS ***/
.header-nav-menu-button:before { background-color: #c22; }
a.u-word-special:hover,
a.u-word-special:active,
a.u-word-special:focus,
.u-word-special-accent { color: #c22; }

.about-note,
.header-nav,
.social { border-color: #c22; }

/* #166d16 */
.u-block-title-wrap { background-color: #166d16; }
.f-cGreen,
.u-shoutOut-word,
.u-word-bar:hover,
.u-word-bar:active,
.u-word-bar:focus,
a.u-word-special:hover .u-word-special-accent,
a.u-word-special:active .u-word-special-accent,
a.u-word-special:focus .u-word-special-accent { color: #166d16; }
.header-main-banner-title-word-1 .u-word-special-accent:after,
.header-main-banner-title-word-4 .u-word-special-accent:after {// color: #166d16; }

.u-img-placeholder { background-color: #d7d7d7; }

.u-shoutOut { background-color: #363636; }
.u-word-special-wrap:hover *,
.u-word-special-wrap:active *,
.u-word-special-wrap:focus * { color: #363636; }

.u-word-bar:before,
.u-img-wrap { border-color: #fff; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face {
	font-family: "Hobo Std";
		 
	src: url("./fonts/Hobo-Std/HoboStd.eot"); /* IE9 Compat Modes */
	src: local("Hobo Std"),
		 url("{{ pageDomain }}/assets/fonts/Hobo-Std/HoboStd.eot?#iefix") format("embedded-opentype"),
		 url("{{ pageDomain }}/assets/fonts/Hobo-Std/HoboStd.otf") format("opentype"),
		 url("{{ pageDomain }}/assets/fonts/Hobo-Std/HoboStd.svg") format("svg"),
		 url("{{ pageDomain }}/assets/fonts/Hobo-Std/HoboStd.ttf") format("truetype"),
		 url("{{ pageDomain }}/assets/fonts/Hobo-Std/HoboStd.woff") format("woff"),
		 url("{{ pageDomain }}/assets/fonts/Hobo-Std/HoboStd.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}


body { font-family: Georgia, serif; }
.f-fTwo,
.u-shoutOut-word,
.u-word-special { font-family: "Hobo Std", sans-serif; }
.f-fOne,
.u-word-special-accent { font-family: "New Times Roman", serif; }
.f-fThree,
.u-word-bar { font-family: Impact, sans-serif; }

.f-fThree,
.u-word-bar { letter-spacing: .1em; }

.f-sH1 { font-size: 2em; }
.f-sH2 { font-size: 1.8em; }
.u-word-special-accent { font-size: 1.3em; }

.m-hashWord-quote,
.social-links,
.social-video-hashtag,
.u-block-title-wrap,
.u-word-bar { text-align: center; }

.f-fOne,
.u-word-special-accent { font-variant: small-caps; }

.f-fOne,
.u-word-special-accent { font-weight: bold; }

.f-fOne,
.u-word-special-accent { text-transform: uppercase; }
/*** END FONTS ***/

/*** MEDIA ***/
.d-matrix,
.d-matrix-code,
.u-block-title { background: url("{{ site.url.assets }}/images/matrix.gif") center center no-repeat #fff; }
.m-gallery-placeholder { background: url("{{ site.url.assets }}/images/world-map-old.jpg") center center no-repeat #d7d7d7; }

.d-matrix-code { opacity: 30; opacity: .3; }

.d-matrix,
.d-matrix-code,
.m-gallery-placeholder,
.u-block-title-wrap { background-size: cover; }
.u-block-title {
	background-size: 200% auto;
	
	filter: contrast(200%);
	-ms-filter: contrast(200%);
	-moz-filter: contrast(200%);
	-webkit-filter: contrast(200%);
	-o-filter: contrast(200%);
}
/*** END MEDIA ***/

/*** COMMONS ***/
.article,
.header-nav,
.social,
.social-links-link,
.l-word-special-triple .u-word-special-accent,
.d-matrix { position: relative; }

.header-nav { border-style: solid; }

/** [decoration] **/

/** [layouts] **/

/** [mixins] **/

/** [utilities] **/
.u-fillText {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.u-block-title-wrap {
	padding: 2em;
}
.u-block-title {
	display: block;
}

/*** END COMMONS ***/

/*** COMPONENTS ***/
/*** END COMPONENTS ***/

/*** PAGES ***/
/*** END PAGES ***/

/*** ANIMATIONS ***/
section, div, span {
	transition: all .25s ease-in;
		-webkit-transition: all .25s ease-in;
		-moz-transition: all .25s ease-in;
		-o-transition: all .25s ease-in;
}
.m-gallery-placeholder { -webkit-animation: slider 10s infinite; }

	@-webkit-keyframes slider {
		0%, 20%, 35%{ background-image: url("{{ site.url.assets }}/images/gallery/1.jpg"); }
		35%, 55%, 70%{ background-image: url("{{ site.url.assets }}/images/gallery/2.jpg"); }
		70%, 80%, 95% {background-image: url("{{ site.url.assets }}/images/gallery/3.jpg"); }
		100%{ background-image: url("{{ site.url.assets }}/images/gallery/1.jpg"); }
	}
/*** END ANIMATIONS ***/

/*** INTERACTIVITY ***/
.u-link { cursor: pointer; }
/*** END INTERACTIVITY ***/

/*** DEPENDENCIES ***/
/** [javascript] **/

/** [php] **/

/*** END DEPENDENCIES ***/

/*** MEDIA QUERIES ***/
/** [all] **/
@media all and (min-width: 0) {}

@media all and (max-width: 20rem) {}
@media all and (min-width: 20rem) {}

@media all and (max-width: 40rem) {}
@media all and (min-width: 40rem) {}

@media all and (min-width: 50rem) {}

/** [screen] **/
@media screen and (min-width: 0) {}

@media screen and (min-width: 60rem) {}

@media screen and (min-width: 80rem) {}

@media screen and (min-width: 100rem) {}

/** [handheld] **/
@media handheld and (device-orientation: portrait) {}
@media handheld and (device-orientation: landscape) {}

/** [print] **/
@media print {
	.nope-js * {
		display: none !important;
		background-color: transparent !important;
		background: none !important;
	}
}
/*** END MEDIA QUERIES ***/

/*** OVERRIDE ***/
.articles-list,
.articles-list-item,
.m-note,
.m-note-p { padding: 1em; }

.u-button { width: 2em; height: 2em; }
.header-nav-menu-button:before { width: 2em; }

.header-nav { border-width: 2em 0 0 2em; }

.articles-header-nav,
.header-nav { padding: 2em; }

.header-nav-menu-button { left: -2em; }
.header-nav-search-button { top: -2em; }

.header-main-note { padding-left: 4em; }

.header-nav-menu-button:before { height: 6em; }
.header-nav-menu-button:before { top: -6em; }

.header-nav-menu-button { bottom: -8em; }

.header-nav { width: 75%; }
.header-main-banner { width: 50%; }
.header-matrix,
.header-main-note { width: 25%; }

.header-nav-logo { width: 50%; }

.articles-list { width: 62.5% }
.articles-header { width: 37.5%; }

.header-nav {
	display: block;
}
.header-nav-menu-button:before,
.u-button {
	display: inline-block;
}
.header-nav-menu-button,
.header-nav-search-button {
	position: absolute;
	background-color: yellow;
}
.header-nav-menu-button {
	position: absolute;
}
.header-nav-menu-button:before {
	content: ""; position: absolute; left: 0;
}
.header-nav-search-button {
	position: absolute; right: 0;
}

.header-main-banner,
.header-main-note {
	display: inline-block;
	vertical-align: top;
}

.header-main-banner-title {
	position: relative; top: -2em;
}
.header-main-banner-title-word {
	display: block;
	clear: both;
}
.u-word-special, .u-word-special-accent {// font-style: italic; }
.header-main-banner-title-word-1,
.header-main-banner-title-word-3 { float: right; }
.header-main-banner-title-word-2,
.header-main-banner-title-word-4 { float: left; }

.header-main-banner-title-word-3 { margin-right: 45%; }
.header-main-banner-title-word-2 { margin-left: 65%; }

.header-main-banner-title-word-1 { margin-right: 40%; }
.header-main-banner-title-word-4 { margin-left: 60%; }

.header-main-banner-title-word-2,
.header-main-banner-title-word-3 { position: relative; }
.header-main-banner-title-word-2 { top: -.5em; }
.header-main-banner-title-word-3 { bottom: -.5em; }

.l-word-special-triple .u-word-special-accent:before,
.l-word-special-triple .u-word-special-accent:after {
	position: absolute; left: 0;
}
.header-main-banner-title-word-1 .u-word-special-accent:before,
.header-main-banner-title-word-1 .u-word-special-accent:after { content: "Elle"; }
.header-main-banner-title-word-4 .u-word-special-accent:before,
.header-main-banner-title-word-4 .u-word-special-accent:after { content: "Tech"; }
.social-video-hashtag .u-word-special-accent:before,
.social-video-hashtag .u-word-special-accent:after { content: "@"; }

.l-word-special-triple-top:before,
.l-word-special-triple-bottom:before,
.l-word-special-triple-middle:before,
.l-word-special-triple-middle:after { opacity: 70; opacity: .7; }
.l-word-special-triple-top:after,
.l-word-special-triple-bottom:after { opacity: 40; opacity: .4; }

.l-word-special-triple-bottom:before,
.l-word-special-triple-middle:before { top: -.55em; }
.l-word-special-triple-top:before,
.l-word-special-triple-middle:after { bottom: -.55em; }

.l-word-special-triple-bottom:after { top: -1.15em; }
.l-word-special-triple-top:after { bottom: -1.15em; }

.header-matrix {
	position: absolute; top: 0; right: 0;
}

.m-gallery-list {
	padding: 1.25em 1em;
	padding-bottom: 5.25em;
}
.m-gallery-list-item {
	padding: .75em 1em;
}
.m-gallery-placeholder {
	width: 100%;
}

.d-matrix-code {
	width: 100%; height: 100%;
	position: absolute; top: 0; left: 0;
}


.articles-header,
.articles-list {
	display: inline-block;
	vertical-align: top;
}

.articles-list-item {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
.article {
	position: relative;
}
.article-content {
	position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	padding: 1em;
	overflow-y: scroll;
}
.article-content-title,
.article-content-hr,
.article-content-p {
}
.article-content-title {
	width: 80%;
}
.article-content-p {
	text-align: justify;
}



.about-header,
.about-note {
	display: inline-block;
	vertical-align: top;
}
.about-header {
	width: 50%;
}
.u-img-wrap {
	border-width: 2em;
	border-style: double;
}
.m-hashWord-quote {
	padding: 0 2em;
	position: relative; top: -4em;
}
.m-hashWord-quote-cite,
.m-hashWord-quote-q {
//	display: block;
}

.about-note {
	width: 50%;
	padding: 2em;
	border-width: 0 2em 0 0;
	border-style: solid;
}



.u-shoutOut {
	padding: 2em;
	position: relative;
}
.u-shoutOut-word {
	text-align: center;
	font-size: 6em;
}
.u-shoutOut-particles {
	display: block;
	position: absolute; top: 0; left: 0; z-index: 100;
	width: 100%; height: 100%;
}



.social-matrix {
	width: 50%;
}

.social,
.social-video {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
.social {
	border-width: 2em 0 0 0;
	border-style: solid;
}
.social-links {
	width: 50%; height: 100%;
	position: absolute; top: 0; right: 0;
}
.social-links-list {
	display: table;
	width: 100%; height: 100%;
}
.social-links-list-item {
	display: table-row;
}
.social-links-link-wrap {
	display: table-cell;
	vertical-align: middle;
}
.social-links-link {
	width: 50%;
}
.u-word-bar {
	padding: .5em;
	margin: 0 auto;
}
.u-word-bar:before {
	content: ""; position: absolute; top: 0; left: 0;
	width: 100%; height: auto;
	border-width: 0 0 2em 0; border-style: double;
}
.social-video {
	padding: 2em;
}
.social-video-hashtag {
	padding-top: 2em;
}

.newsletter {
	overflow: auto;
	position: relative;
}
.newsletter .u-block-title-wrap {
	width: 50%;
	float: right;
}
.newsletter-content {
	width: 75%;
	overflow: auto;
}
.newsletter-content-form {
	clear: both;
	width: 35%;
	padding: 2em;
	overflow: auto;
	position: absolute; left: 0; bottom: 0;
}
.newsletter-content-form-label,
.newsletter-content-form-input,
.newsletter-content-form-submit {
	display: block;
	clear: both;
}
.newsletter-content-form-label {}
.newsletter-content-form-input {
	float: right;
	width: 75%;
	margin: 1em 0 2em 0;
}
.newsletter-content-form-submit {
	
}
.newsletter-content-form textarea {
	min-height: 5em; height: 15em; max-height: 20em;
}
.u-input {
	font-size: 1.1em;
	padding: .5em;
}
.newsletter-word {
	width: 25%;
	float: right;
}
.about-header .u-shoutOut-word {
//	letter-spacing: .2em;
}
.newsletter-word .u-shoutOut-word {
	line-height: .8em;
}
.newsletter-word-quote {
	width: 200%;
	position: relative; left: -100%;
}

.newsletter-content-nav {
	clear: both;
	width: 50%;
	float: right;
}

.footer {
	width: 50%;
	position: relative; left: 50%;
	padding: 2em;
	border-width: 0 2em 2em 0; border-style: solid;
	border-color: #c22;
}

.u-word-special-wrap {
	display: inline;
}
/*** END OVERRIDE ***/

/*** TO DELETE ***/
/*** END TO DELETE ***/