---
layout: main
---
{% include config/setup %}{% include config/data %}
<div class="body-content">{% for i in (1..1) %}
	<header class="body-content-banner">
		<h2 class="body-content-banner-title f-fTwo f-sH1"><a class="body-content-banner-title-wrap" href='{{ pageDomain }}/articles/chronicles/my-day-one/' title='Go to article page'>My entry into the world of web development was also my first business wound</a></h2>
		<img src="{{ assetsDomain }}/images/placeholders/placeholder-4x1.png" class="body-content-banner-img img-bg_logo-icon_white" />
	</header>{% endfor %}
</div>